In [6]:
# 1. Create and Access List Elements. Create a list containing five different fruits and print the third fruit.
fruit = list(['apple', 'banana', 'kiwi', 'pineapple', 'pear'])
fruit[2]

'kiwi'

In [9]:
# 2. Concatenate Two Lists. Create two lists of numbers and concatenate them into a single list.
num_list1 = [1, 3, 5]
num_list2 = [2, 4, 6]

num_list1.extend(num_list2)
num_list1

[1, 3, 5, 2, 4, 6]

In [13]:
# 3. Extract Elements from a List. Given a list of numbers, extract the first, middle, and last elements and store them in a new list.
num_list = [10, 20, 30, 40, 50, 60, 70]

first_num = num_list[0]
middle_num = num_list[len(num_list)//2]
last_num = num_list[-1]

joined_list = [first_num, middle_num, last_num]
print(joined_list)

[10, 40, 70]

In [15]:
# 4. Convert List to Tuple. Create a list of your five favorite movies and convert it into a tuple.
movies = ['Interstellar', 'John Wick', 'Fast&Furious', 'Inception', 'Catch me if you can']
tuple_list = tuple(movies)
tuple_list

('Interstellar',
 'John Wick',
 'Fast&Furious',
 'Inception',
 'Catch me if you can')

In [ ]:
# 5. Check Element in a List. Given a list of cities, check if "Paris" is in the list and print the result.
cities_list = list(['London', 'New York', 'Rome', 'Paris', 'Tokyo'])

if 'Paris' in cities_list:
    print('Paris is in list')
else:
    print('Sorry, Paris is not in list')

Paris is in list

In [21]:
# 6. Duplicate a List Without Using Loops. Create a list of numbers and duplicate it without using loops.
numbers = [21, 34, 95, 58, 69]

duplicated_nums = numbers * 2
duplicated_nums

[21, 34, 95, 58, 69, 21, 34, 95, 58, 69]

In [23]:
# 7. Swap First and Last Elements of a List. Given a list of numbers, swap the first and last elements.
numbers = [21, 34, 95, 58, 69]

numbers[0], numbers[-1] = numbers[-1], numbers[0]
numbers

[69, 34, 95, 58, 21]

In [31]:
# 8. Slice a Tuple. Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
tuple_nums = tuple([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sliced_nums = tuple_nums[3:7]
sliced_nums

(4, 5, 6, 7)

In [34]:
# 9. Count Occurrences in a List. Create a list of colors and count how many times "blue" appears in the list.
colors = list(['blue', 'red', 'brown', 'yellow', 'blue', 'orange', 'red', 'blue'])
blue_col = colors.count('blue')

print(f'"blue" appears {blue_col} times in the list.')

"blue" appears 3 times in the list.

In [37]:
# 10. Find the Index of an Element in a Tuple. Given a tuple of animals, find the index of "lion".
animal = tuple(['bear', 'tiger', 'cheetah', 'lion', 'wolf', 'fox'])
index_l = animal.index('lion')

print(f'The index of "lion" is {index_l}.')

The index of "lion" is 3.

In [38]:
# 11. Merge Two Tuples. Create two tuples of numbers and merge them into a single tuple.
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

merged_tuple = tuple_1 + tuple_2
merged_tuple

(1, 2, 3, 4, 5, 6)

In [44]:
# 12. Find the Length of a List and Tuple. Given a list and a tuple, find and print their lengths.
len_list = [1, 2, 'alex', 'abcd', 34, 980]
len_tuple = (3, 4, 65, 'terry', 1)

print('Length of the list', len(len_list))
print('Length of the tuple', len(len_tuple))

Length of the list 6
Length of the tuple 5

In [48]:
# 13. Convert Tuple to List. Create a tuple of five numbers and convert it into a list.
tuple_number = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
list_num = list(tuple_number)
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# 14. Find Maximum and Minimum in a Tuple. Given a tuple of numbers, find and print the maximum and minimum values.
num_tuple = (12, 32, 56, 23, 45, 55, 67, 18, 9)
max_num = max(num_tuple)
min_num = min(num_tuple)

print(f'max value of tuple {max_num} and min value {min_num}')

max value of tuple 67 and min value 9

In [51]:
# 15. Reverse a Tuple. Create a tuple of words and print it in reverse order.
words = ("apple", "banana", "cherry", "date", "fig")

words[::-1]

('fig', 'date', 'cherry', 'banana', 'apple')