In [1]:
#1. Create a new database with a table named Roster that has three fields: Name, Species, and Age. The Name and Species columns should be text fields, and the Age column should be an integer field.
import sqlite3

connection = sqlite3.connect("my_database.db")

sql_query = """CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)"""

cursor = connection.cursor()

cursor.execute(sql_query)

connection.commit()
connection.close()

In [2]:
#2. Populate your new table
import sqlite3

with sqlite3.connect("my_database.db") as conn:
    cursor = conn.cursor()

    data = [
    ("Benjamin Sisko", "Human", 40),
    ("Jadzia Dax", "Trill", 300),
    ("Kira Nerys", "Bajoran", 29)
]

cursor.executemany("INSERT INTO Roster(Name, Species, Age) VALUES (?, ?, ?)", data)

conn.commit()
conn.close()

In [3]:
#3. Update the Name of Jadzia Dax to be Ezri Dax
import sqlite3

with sqlite3.connect("my_database.db") as conn:
    cursor = conn.cursor()

cursor.execute('''
UPDATE Roster
SET Name = 'Ezri Dax'
WHERE Name = 'Jadzia Dax'              
''')

conn.commit()
conn.close()

In [4]:
#4. Display the Name and Age of everyone in the table classified as Bajoran.
import sqlite3

with sqlite3.connect("my_database.db") as conn:
    cursor = conn.cursor()

cursor.execute('''
SELECT Name, Age
FROM Roster
WHERE Species = 'Bajoran'
''')

result = cursor.fetchall()

for row in result:
    print(f"Name: {row[0]}, Age: {row[1]}")

conn.close()

Name: Kira Nerys, Age: 29